@use "card";
@use "navbar";
@use "dashboard";
@use "payment";
@use "utils";
@import '~bootstrap/scss/bootstrap';

body{
    display: block;
   
    background: linear-gradient(90deg, rgb(30, 58, 48) 0%, rgb(27, 68, 102) 100%);
}

.alert{
    position: fixed;
    z-index: 1;
    left: 720px;
    top: 47px;
}

@media screen and (max-width: 769px){
   
    .right-col {
        height: 109%;
    }

}

@media screen and (min-width: 769px){
    
    #menu{
        position: absolute;
        left: -114px;
    }
    
}

@media screen and (min-width: 1085px){
    
    #image-show{
        width: 360px;
    }

    #card-show{
        margin: 0 auto;
        width: 768px;
    }
   
    
}

@media screen and (min-width: 1629px){
   
    #menu{

        position: absolute;
        left: 7px;
    }
}